* {
  margin: 0;
  padding: 0;
}
:root {
  --Paleblue: hsl(225, 100%, 94%);
  --Brightblue: hsl(245, 75%, 52%);
  --Verypaleblue: hsl(225, 100%, 98%);
  --Desaturatedblue: hsl(224, 23%, 55%);
  --Darkblue: hsl(223, 47%, 23%);
  --hover: hsl(246deg 54% 61%);
}
body{
  background: url('../images/pattern-background-desktop.svg');
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-color: #e1e9ff;
}
main.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main.container .card{
  width: 452px;
  height: 700px;
  border-radius: 20px;
}
main.container .card img{
  display: block;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
main.container .card span{
font-size: 0;
}
main.container .card .content{
  padding: 45px;
  background: var(--Verypaleblue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px;
}
main.container .card .content h1{
  padding-bottom: 15px;
}
main.container .card .content p{
  line-height: 1.5;
  text-align: center;
  color: var(--Desaturatedblue);
  padding-bottom: 15px;
}
main.container .card .content .plan{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  height: 95px;
  width: 355px;
  background:var(--Paleblue);
  border-radius: 15px;
}
main.container .card .content .plan img{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 32px;
  left: 15px;
  right: 0;
  bottom: 0;
}
main.container .card .content .plan .text{
  padding-right:100px;
}
main.container .card .content .plan .text .text1{
  padding-bottom: 10px;
  font-weight: 600;
}
main.container .card .content .plan .text .text2{
  font-size: 0.9rem;
  color: var(--Desaturatedblue);
}
main.container .card .content .plan .text3{
  font-size: 0.9rem;
}
main.container .card .content .plan .link h3{
  position: absolute;
  text-decoration: underline;
  top: 45px;;
  left: 290px;
  bottom: 0;
  right: 0;
}
main.container .card .content .btn{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
main.container .card .content .btn1{
  height: 50px;
  width: 360px;
  margin: 5px;
  background: var(--Brightblue);
  color: var(--Paleblue);
  outline: none;
  box-shadow:0px 5px 20px var(--Brightblue);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
main.container .card .content .btn1:hover{
background: var(--hover);
}
main.container .card .content .btn2{
  height: 50px;
  width: 360px;
  margin: 5px;
  background:transparent;
  color: var(--Desaturatedblue);
  outline: none;
  border: none;
  cursor: pointer;
}
@media(max-width:375px){
  body{
    background:url('../images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    object-fit:cover;
  }
  main.container .card{
    width: 332px;
    height: 572px;
    border-radius: 20px;
  }
  main.container .card .content h1{
    font-size: 1.5rem;
  }
  main.container .card .content .plan{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    height: 60px;
    width: 260px;
    background:var(--Paleblue);
    border-radius: 15px;
  }
  main.container .card .content .plan img{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 13px;
    left: 10px;
    right: 0;
    bottom: 0;
  }
  main.container .card .content .plan .text{
    padding-right:20px;
  }
  main.container .card .content .plan .text .text1{
    padding-bottom: 10px;
    font-weight: 600;
  }
  main.container .card .content .plan .text .text2{
    font-size: 0.9rem;
    color: var(--Desaturatedblue);
  }
  main.container .card .content .plan .text3{
    font-size: 0.9rem;
  }
  main.container .card .content .plan .link h3{
    position: absolute;
    text-decoration: underline;
    top: 33px;;
    left: 212px;
    bottom: 0;
    right: 0;
  }
  main.container .card .content .btn{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  main.container .card .content .btn1{
    height: 50px;
    width: 265px;
    margin: 5px;
    background: var(--Brightblue);
    color: var(--Paleblue);
    outline: none;
    box-shadow:0px 5px 20px var(--Brightblue);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  main.container .card .content .btn2{
    height: 50px;
    width: 265px;
    margin: 5px;
    background:transparent;
    color: var(--Desaturatedblue);
    outline: none;
    border: none;
    cursor: pointer;
  }
}
